/* Section "Compétences" */

.mesCompetences{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Case{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 150px;
    margin: 25px;
    color: rgba(34, 35, 35, 0.934);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Case:hover{
    box-shadow: rgb(42, 225, 118) 0px 5px 15px;

}

.Case h3{
    text-align: center;
} 

.Case i, iconify-icon{
    font-size: 5rem;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

